{% extends "base.html" %}

{% block content %}

    <!-- Football Content -->
    <div class="container section-grid">
        <div class="row">
            <!-- Chat -->
            <div class="col-lg-6 mb-2 section" id="football-chat">
                <!-- Dynamic content for chat can be added here -->
            </div>
            <!-- Fixtures & Results -->
            <div class="col-lg-6 mb-2 section" id="football-fixtures-results">
                <!-- Dynamic content for fixtures & results can be added here -->
            </div>
        </div>
        <div class="row">
            <!-- Tips -->
            <div class="col-lg-6 mb-2 section" id="football-tips">
                <!-- Dynamic content for tips can be added here -->
            </div>
            <!-- In Play -->
            <div class="col-lg-6 mb-2 section" id="football-in-play">
                <!-- Dynamic content for in play can be added here -->
            </div>
        </div>
    </div>

    <!-- Football Content -->
    <div class="container">
        <h1 class="section-heading">Football</h1>
        
        <div class="row">
            
            <!-- Premier League -->
            <div class="col-lg-4 mb-4">
                <div class="custom-card">
                    <div class="custom-card-header">Premier League</div>
                    <div class="custom-card-body">
                        <h5 class="card-title">Latest News</h5>
                        <p class="card-text">Get the latest news on Premier League football.</p>
                        <a href="{% url 'premier_league_news' %}" class="btn btn-primary custom-btn">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Champions League -->
            <div class="col-lg-4 mb-4">
                <div class="custom-card">
                    <div class="custom-card-header">Champions League</div>
                    <div class="custom-card-body">
                        <h5 class="card-title">Fixtures & Results</h5>
                        <p class="card-text">Check out the latest fixtures and results from the Champions League.</p>
                        <a href="{% url 'champions_league_fixtures' %}" class="btn btn-primary">View Fixtures</a>
                    </div>
                </div>
            </div>

            <!-- World Cup -->
            <div class="col-lg-4 mb-4">
                <div class="custom-card">
                    <div class="custom-card-header">World Cup</div>
                    <div class="custom-card-body">
                        <h5 class="card-title">Top Scorers</h5>
                        <p class="card-text">See who's leading the goal-scoring charts in the World Cup.</p>
                        <a href="{% url 'world_cup_top_scorers' %}" class="btn btn-primary">View Top Scorers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
