{% extends "base.html" %}

{% block content %}

    <!-- Football Content -->
    <div class="container section-grid">
        <div class="row">
            <!-- Chat -->
            <div class="col-lg-6 mb-2 section" id="football-chat">
                <!-- Dynamic content for chat can be added here -->
            </div>
            <!-- Fixtures & Results -->
            <div class="col-lg-6 mb-2 section" id="football-fixtures-results">
                <!-- Dynamic content for fixtures & results can be added here -->
            </div>
        </div>
        <div class="row">
            <!-- Tips -->
            <div class="col-lg-6 mb-2 section" id="football-tips">
                <!-- Dynamic content for tips can be added here -->
            </div>
            <!-- In Play -->
            <div class="col-lg-6 mb-2 section" id="football-in-play">
                <!-- Dynamic content for in play can be added here -->
            </div>
        </div>
    </div>



{% endblock %}
