{% extends "base.html" %}

{% block content %}
    <div class="container section-grid">
        <div class="row">
            <!-- submit tips -->
            <a href="{% url 'submit_tips' %}" class="col-lg-6 mb-2 section background-image-cover" id="horse-racing-submit-tips">
            <!-- Dynamic content for submit tips can be added here -->
            </a>
    
            <!-- Fixtures & Results -->
            <div class="col-lg-6 mb-2 section background-image-results" id="horse-racing-meetings-results"> 
                
               
            </div>
        </div>
        <div class="row">
            <!-- Tips -->
            <div class="col-lg-6 mb-2 section background-image-tips" id="horse-racing-tips">
                
                
            </div>
            <!-- In Play -->
            <div class="col-lg-6 mb-2 section background-image-inplay" id="next-to-the-post">
                
            </div>
        </div>
    </div>
{% endblock %}

  