{% extends "base.html" %}

{% block content %}
    <div class="container section-grid">
        <div class="row">
            <!-- Submit Tip -->
            <a href="{% url 'submit_tips' %}" class="col-lg-6 mb-2 section background-image-cover" id="submit-tennis-tips">
            </a>
            <!-- Fixtures & Results -->
            <div class="col-lg-6 mb-2 section" id="tennis-fixtures-results">
               
            </div>
        </div>
        <div class="row">
            <!-- Tips -->
            <div class="col-lg-6 mb-2 section" id="tennis-tips">
                
            </div>
            <!-- In Play -->
            <div class="col-lg-6 mb-2 section" id="tennis-in-play">
               
            </div>
        </div>
    </div>
{% endblock %}
