{% extends "base.html" %}

{% load static %}

{% block title %}Top Tipsters - Tipster Arena{% endblock %}

{% block content %}
<div class="container my-5">
    <img src="{% static 'images/tipster1.png' %}" alt="Tipster" class="img-fluid w-100">
</div>

<div class="container my-5">
    <h2 class="mb-4">Top Tipsters</h2>

    <!-- ... (tabs and their content) ... -->

    <div class="tab-content" id="myTabContent">
        <!-- Tab content for Overall, Football, Horse Racing, etc. -->
        <!-- Example for the Overall tab -->
        <div class="tab-pane fade show active" id="overall" role="tabpanel" aria-labelledby="overall-tab">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Tips</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Win Rate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipster in overall_tipsters %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ tipster.username }}</td>
                            <td>{{ tipster.tips }}</td>
                            <td>{{ tipster.wins }}</td>
                            <td>{{ tipster.win_rate }}%</td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="5">No tipsters available.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Similar structure for Football, Horse Racing, Tennis, Golf tabs -->
    </div>
</div>
{% endblock %}
